{% extends 'NaesBundle::master.html.twig' %}
{% block body %}
	<div class="jumbotron">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus faucibus id erat quis fermentum. Morbi dapibus viverra odio, in tincidunt elit congue vel. Donec hendrerit laoreet arcu, non aliquet leo tristique non. Pellentesque urna lectus, congue iaculis rhoncus a, congue a quam</p>
	</div>
{% endblock %}
